numpy==2.4.2
scipy==1.16.3
pandas==3.0.0
lxml==6.0.2
scikit-learn==1.8.0
joblib==1.5.3
statsmodels==0.14.6
lifelines==0.30.0
pygam==0.12.0
git+https://github.com/jonathan-taylor/l0bnb.git@fix_inf#egg=l0bnb
torch==2.10.0
torchvision==0.25.0
pytorch-lightning==2.6.1
torchinfo==1.8.0
torchmetrics==1.8.2
ISLP==0.4.1
