numpy>=1.7.1
scipy>=0.9
pandas>=0.20
pandas<=1.9
lxml # pandas needs this for html
scikit-learn>=1.2
joblib
statsmodels>=0.13
lifelines
pygam # for GAM in Ch7
l0bnb==1.0.0 # for bestsubsets
ISLP
torch
pytorch_lightning
torchmetrics
torchvision
torchinfo
