# This is a basic workflow to help you get started with Actions

name: Building Ch11 notebook

# Controls when the workflow will run
on:
  workflow_dispatch:
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pip'

      # Install
      - name: Install dependencies 
        run: |
          pip install -r requirements.txt
          pip install ISLP jupyter

      # Runs a set of commands using the runners shell
      - name: Build notebook for Ch11 (some errors, not really a test)
        run: |
          jupyter nbconvert --execute --inplace Ch11*ipynb


